.appHeader{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.appLogo {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    color: #0d6efd;
    background: white;
}

.card {
    border: 1px solid #0d6efd;
}

.card-border-danger {
    border: 1px solid #842029;
}






