<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div class="row" th:fragment="listheader">
    <div class="col-lg-4 col-md-4 text-center">
        Account Number
    </div>
    <div class="col-lg-3 col-md-4 text-center">
        Customer
    </div>
    <div class="col-lg-2 col-md-4 text-center">
        Registration Date
    </div>
    <div class="col-lg-1 text-center">
        Cards
    </div>
    <div class="col-lg-2 text-center">
        Actions
    </div>
</div>

</body>
</html>