<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<!--/*@thymesVar id="filter" type="com.epam.brest.model.dto.CreditCardsFilterDto"*/-->
<form class="row mb-2 gy-2"
     th:fragment="filter"
     th:action="@{/cards}"
     th:object="${filter}"
     th:classappend="${filter} and ${#fields.hasErrors} ? 'pb-4'"
     method="post">
    <div class="col-lg-5 col-md-4 text-center my-auto">
        <div class="input-group position-relative">
            <span class="input-group-text ">Expiry from</span>
            <input type="text"
                   name="valueFromDate"
                   th:value="${filter?.valueFromDate}"
                   th:placeholder="#{card.date.placeholder}"
                   class="form-control"
                   th:classappend="${filter} and ${#fields.hasErrors('valueFromDate')} ? 'is-invalid'"/>
            <div class="invalid-tooltip"
                 th:if="${filter} and ${#fields.hasErrors('valueFromDate')}"
                 th:errors="*{valueFromDate}">
                From Date Error
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-4 text-center my-auto">
        <div class="input-group position-relative">
            <span class="input-group-text">Expiry to</span>
            <input type="text"
                   name="valueToDate"
                   th:value="${filter?.valueToDate}"
                   th:placeholder="#{card.date.placeholder}"
                   class="form-control"
                   th:classappend="${filter} and ${#fields.hasErrors('valueToDate')} ? 'is-invalid'"/>
            <div class="invalid-tooltip"
                 th:if="${filter} and ${#fields.hasErrors('valueToDate')}"
                 th:errors="*{valueToDate}">
                Value Date Error
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 text-center my-auto">
        <div class="btn-group">
            <button class="btn btn-info text-white"
                    type="submit">
                Apply
            </button>
            <a href="../../cards.html"
               class="btn btn-warning text-white"
               th:href="@{/cards}">
                Reset
            </a>
        </div>
    </div>
</form>

</body>
</html>