<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div class="container" th:fragment="header">
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <div class="appLogo text-center h-100 p-1 fs-3">
                MockBank
            </div>
        </div>
        <div class="col-lg-10 col-md-9"
             th:with="path=${#httpServletRequest.servletPath}">
            <ul class="nav nav-pills fs-4">
                <li class="nav-item">
                    <a class="nav-link"
                       href="../accounts.html"
                       th:classappend="${#strings.equals(path, '/accounts')} ? 'active'"
                       th:href="@{/accounts}">
                        Accounts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="../cards.html"
                       th:classappend="${#strings.equals(path, '/cards')} ? 'active'"
                       th:href="@{/cards}">
                        Cards
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>