<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div class="btn-group" th:fragment="actions(account)">
    <button type="button" class="btn btn-secondary">
        <i class="bi bi-credit-card"></i>
    </button>
    <a href="../../account.html" class="btn btn-secondary" th:href="@{'/account/' + ${account.id}}">
        <i class="bi bi-pencil-square"></i>
    </a>
    <button type="button"
            class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            th:attr="data-bs-target='#staticBackdrop'+ ${account.id}">
        <i class="bi bi-trash"></i>
    </button>
</div>

</body>
</html>