<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div class="row mb-2 gy-2" th:fragment="filter">
    <div class="col-lg-10 col-md-8 text-center my-auto">
        <div class="input-group">
            <span class="input-group-text">Expiry from</span>
            <input type="date" class="form-control"/>
            <span class="input-group-text">Expiry to</span>
            <input type="date" class="form-control"/>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 text-center my-auto">
        <div class="btn-group">
            <a href="#" class="btn btn-info text-white" data-bs-toggle="button">
                Apply
            </a>
            <a href="#" class="btn btn-warning text-white" data-bs-toggle="button">
                Reset
            </a>
        </div>
    </div>
</div>

</body>
</html>