<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      lang="en">

<th:block layout:fragment="content">
    <!--/*@thymesVar id="account" type="com.epam.brest.model.dto.BankAccountDto"*/-->
    <form class="container"
          th:object="${account}"
          th:action="@{${#httpServletRequest.servletPath}}"
          method="post">
        <div class="card mb-2">
            <div class="card-body text-primary fs-4">
                <div class="row">
                    <div class="col-lg-10 col-md-8 col-sm-8">
                        <span th:text="${account?.id} ? #{account.header.edit} : #{account.header.create}">
                            Header
                        </span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 text-center">
                        <div class="btn-group">
                            <button type="submit"
                                    class="btn btn-success text-white"
                                    th:text="${account?.id} ? #{account.button.edit} : #{account.button.create}">
                                Action
                            </button>
                            <a href="accounts.html"
                               class="btn btn-danger text-white"
                               th:href="@{/accounts}">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body text-primary fs-5">
                <div class="row">
                    <div class="col-md-2 my-auto">
                        Registration Date
                    </div>
                    <div class="my-auto"
                         th:classappend="${account?.id} ? 'col-md-4' : 'col-md-10'">
                        <input name="registrationDate"
                               type="text"
                               class="form-control"
                               th:with="format=#{date.format}"
                               th:value="${account} ? ${{account.registrationDate}}
                                                    : ${#temporals.format(#temporals.createToday(), format)}"
                               readonly/>
                    </div>
                    <div class="col-md-2 my-auto" th:if="${account?.id}">
                        Account Number
                    </div>
                    <div class="col-md-4 my-auto" th:if="${account?.id}">
                        <input name="number"
                               type="text"
                               class="form-control"
                               th:value="*{number}"
                               readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body text-primary fs-5">
                <div class="row">
                    <div class="col-md-2 my-auto">
                        Customer
                    </div>
                    <div class="col-md-10 my-auto position-relative">
                        <input name="customer"
                               type="text"
                               class="form-control"
                               th:value="${account} ? *{customer}"
                               th:classappend="${account} and ${#fields.hasErrors('customer')} ? 'is-invalid'"
                               required/>
                        <div class="invalid-tooltip"
                             th:if="${account} and ${#fields.hasErrors('customer')}"
                             th:errors="*{customer}">
                            Customer Error
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>

</body>
</html>