<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      lang="en">

<th:block layout:fragment="content">
    <div class="container">
        <div class="card mb-2 card-border-danger" th:fragment="header">
            <div class="card-body text-center fs-5 alert-danger">
                <div class="row">
                    <div class="col-12">
                        Something went wrong...
                    </div>
                </div>
            </div>
            <div class="card-body text-center text-primary fs-5">
                <div class="row">
                    <div class="col-12">
                        <span th:text="${error}">Error Info</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</th:block>

</html>